<% provide(:title , @user.name) %> 
<div class="row">
	<div class="row">
		<aside class="span4">
			<section>	
				<h1> 
					<%= gravatar_for @user %>
					<%= @user.name %> 
				</h1>
			</section> 
		</aside>
		<% if allow_manage?(@user_show) %>
		<div class="span8">
			<section class="col-md-12 text-right">
				<%= link_to "Manage Account", edit_user_registration_path , class: "btn btn-default" %>
			</section> 
		</div>
		<% end %> 
	</div>
	<div class="row">
		<% if allow_manage?(@user_show) %>
		<aside class="span4">
			<section>	
				<%= render 'shared/micropost_form' %>
			</section> 
		</aside>		
		<% end %> 
		<div class="span8">
			<% if @user.microposts.any? %> 
				<h3>Micropost (<%= @user.microposts.count %>)</h3>
				<ol class="microposts">
					<%= render @microposts %> 
				</ol>
				<%= will_paginate @microposts %> 
			<% end %> 
		</div>
	</div>
</div>
